<footer id="footer">
    <ul class="icons">
        <li>
            <a
                href="https://www.facebook.com/profile.php?id=100084957461394"
                class="icon fa-brands fa-facebook-f"
                ><span class="label"></span></a
            >
        </li>
        <li>
            <a
                href="https://instagram.com/festivalpistadeoro"
                class="icon fa-brands fa-instagram"
                ><span class="label"></span></a
            >
        </li>
        <li>
            <a
                href="https://www.youtube.com/@FestivalPistadeOro"
                class="icon fa-brands fa-youtube"><span class="label"></span></a
            >
        </li>
    </ul>
    <ul class="copyright">
        <li>
            &copy; Festival circense de chile 2022- <b>Pista de Oro</b>. All
            rights reserved.
        </li>
        <li>
            Powered by: <a href="https://github.com/toffycaluga">Toffy Caluga</a
            >
        </li>
    </ul>
</footer>

<style>
    #footer {
        background: #f0f0f0;
        padding: 4em 0 6em 0;
        text-align: center;
    }
    #footer .icons li {
        display: inline-block;
        list-style: none;
    }
    #footer .icons a {
        -moz-transition: opacity 0.2s ease-in-out;
        -webkit-transition: opacity 0.2s ease-in-out;
        -ms-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
        opacity: 0.35;
        color: #999;
        text-decoration: none;
        font-size: 3rem;
        margin: 0px 10px 0px 10px;
    }

    #footer .icons a:hover {
        opacity: 0.75;
    }

    #footer .copyright {
        color: #999;
        font-size: 0.9em;
        line-height: 1em;
        margin: 2em 0 0 0;
        padding: 0;
        text-align: center;
    }

    #footer .copyright a {
        color: inherit;
    }

    #footer .copyright li {
        border-left: solid 1px #dddddd;
        display: inline-block;
        list-style: none;
        margin-left: 1em;
        padding-left: 1em;
    }

    #footer .copyright li:first-child {
        border-left: 0;
        margin-left: 0;
        padding-left: 0;
    }
</style>
